<!doctype html>
<html lang="en">
<head>
  <title>TruthFool &mdash; An Extension By Queen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">



  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <div class="mb-0 site-logo"><a href="index.html" class="mb-0">TruthFool<span class="text-primary">.</span> </a></div>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#features-section" class="nav-link">Features</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>

                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-facebook"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-twitter"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-linkedin"></span></a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-black"></span></a></div>

        </div>
      </div>

    </header>



    <div class="site-section hero" id="home-section">
      <div class="container text-center">
        <div class="row justify-content-center text-center">
          <div class="col-lg-10">
            <div class="mb-5">
              <h1 class="hero-heading">A <strong>TruthFool</strong> way of living online</h1> 
              <p>An extension which provides you all the information you need to become a responsible digital citizen.</p>
              <a href="#" class="btn btn-primary">Try the Demo <onclick> </onclick></a>
            </div>
            <img src="static\images\Balance.png" alt="image" width='1712' height='1385' class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="site-section pt-0" id="features-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            
            <h2 class="section-title-1 font-weight-bold">The Feature</h2>
          </div>
        </div>
        <div class="row align-items-center mb-5">
          <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0" data-aos="fade-right">
            <img src="static\images/Demo2.png" alt="Image" class="img-fluid img-shadow">
          </div>
          <div class="col-lg-5 mr-auto">
            <div class="mb-4">
              <h2 class="section-title-2">Real Time Results</h2>
              <p>Provides alternative articles and suggests articles that combat social media articles on topics such as: depression, suicide, cyberbullying, fake news.</p>
            </div>

            <div class="d-flex feature-v1">
              <span class="wrap-icon icon-users"></span>
              <div>
                <h3>Keyword Searching</h3>
                <p>Provides related information</p>
              </div>
            </div>

            <div class="d-flex feature-v1">
              <span class="wrap-icon icon-layers"></span>
              <div>
                <h3>Generates Credibility Score</h3>
                <p>Shows the crediblity of the publisher</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade-left">
            <img src="static\images/Demo3.png" alt="Image" class="img-fluid img-shadow">
          </div>
          <div class="col-lg-5 order-lg-1 ml-auto">
            <div class="mb-4">
              <h2 class="section-title-2">Intuitive Technology</h2>
              <p>Intuitive technologies allow us to provide you with many features and ease of use</p>
            </div>

            <div class="d-flex feature-v1">
              <span class="wrap-icon icon-cog"></span>
              <div>
                <h3>Many Features</h3>
                <p>The selection of features available is all that you need</p>
              </div>
            </div>

            <div class="d-flex feature-v1">
              <span class="wrap-icon icon-bolt"></span>
              <div>
                <h3>Easy to use</h3>
                <p>So that anyone can use the app without any complicated setup</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row align-items-center mb-5">
          <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0" data-aos="fade-right">
            <img src="static\images/Demo1.png" alt="Image" class="img-fluid img-shadow">
          </div>
          <div class="col-lg-5 mr-auto">
            <div class="mb-4">
              <h2 class="section-title-2">Reliable and Critical</h2>
              <p>Our extension gives you real and different views that promote critical thinking to form your own opinion</p>
            </div>

            <div class="d-flex feature-v1">
              <span class="wrap-icon icon-users"></span>
              <div>
                <h3>Better Decision Making</h3>
                <p>with various articles readily available, you can make better decisions on matters that are important to you</p>
              </div>
            </div>

            <div class="d-flex feature-v1">
              <span class="wrap-icon icon-layers"></span>
              <div>
                <h3>Health in Mind</h3>
                <p>Promoting positive way of thinking to combat the negative state of mind</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>


    <div class="site-section pb-0 bg-light" id="contact-section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <span class="sub-title">Contact</span>
            <h2 class="font-weight-bold text-black">Get In Touch</h2>
            <p class="mb-5">Do you have some concerns or questions about this extension?</p>
          </div>
        </div>

        <div class="row mb-5">



          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-room d-block h2 text-primary"></span>
              <span>123 Fake Street, Jaro, Iloilo City, Iloilo</span>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-phone d-block h2 text-primary"></span>
              <a href="#">+1 232 3235 324</a>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-0">
              <span class="icon-mail_outline d-block h2 text-primary"></span>
              <a href="#">notrealemail@emailsite.com</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">



            <form action="#" class="p-5 bg-white">

              <h2 class="h4 text-black mb-5">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                </div>
              </div>

              
            </form>
          </div>
          
        </div>
      </div>
    </div>

    
    <footer class="site-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Queen is a team of 4, our goal is to help you, the person in question, to be a more responsible digital citizen and leave a positive digital footprint!</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#about-section" class="smoothscroll">Terms</a></li>
                  <li><a href="#about-section" class="smoothscroll">Policy</a></li>
                  <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                  <li><a href="#services-section" class="smoothscroll">Services</a></li>
                  <li><a href="#testimonials-section" class="smoothscroll">Testimonials</a></li>
                  <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3 footer-social">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright"><small>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>

              </div>
            </div>

          </div>
        </div>
      </footer>

    </div> <!-- .site-wrap -->

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


  </body>
  </html>