.teal.label.ui.basic {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-weight: inherit;
  font-size: inherit;
}

/* CSS animations */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100%{
    transform: translateY(0);
  }
}

#article_header_1 {
  animation: bounce 1s infinite;
}
